
@{
    ViewData["Title"] = "AccessDenied";
    Layout = "~/Views/Layout/_Layout.cshtml";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <h1 class="text-danger">Erişim Yetkiniz Yok</h1>
            <p class="text-muted">Bu sayfaya erişim yetkiniz bulunmamaktadır.</p>
            <a href="~/Home/Index" class="btn btn-primary">Ana Sayfaya Dön</a>
        </div>
    </div>
</div>