<div class="team-area pt-60 pt-sm-44">
    <div class="container">
        <div class="team-area pt-60 pt-sm-44">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="li-section-title capitalize mb-25">
                            <h2><span>Ekibimiz</span></h2>
                        </div>
                    </div>
                </div> <!-- section title end -->
                
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="team-member mb-60 mb-sm-30 mb-xs-30">
                            <div class="team-thumb">
                                <img src="~/limupa/images/team/HH.jpg" alt="Takım Üyesi">
                            </div>
                            <div class="team-content text-center">
                                <h3>Hakan Hakyemez</h3>
                                <p>IT Uzmanı</p>
                                <a href="#">info@example.com</a>
                                <div class="team-social">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                    <a href="#"><i class="fa fa-google-plus"></i></a>
                                </div>
                            </div>
                        </div>
                    </div> <!-- end single team member -->
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="team-member mb-60 mb-sm-30 mb-xs-30">
                            <div class="team-thumb">
                                <img src="~/limupa/images/team/ondre.jpg" alt="Takım Üyesi">
                            </div>
                            <div class="team-content text-center">
                                <h3>Önder Çalışkan</h3>
                                <p>Web Tasarımcısı</p>
                                <a href="#">info@example.com</a>
                                <div class="team-social">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                    <a href="#"><i class="fa fa-google-plus"></i></a>
                                </div>
                            </div>
                        </div>
                    </div> <!-- end single team member -->
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="team-member mb-30 mb-sm-60">
                            <div class="team-thumb">
                                <img src="~/limupa/images/team/yavuz.jpg" alt="Takım Üyesi">
                            </div>
                            <div class="team-content text-center">
                                <h3>Yavuz İslam Özdemir</h3>
                                <p>Web Geliştirici</p>
                                <a href="#">info@example.com</a>
                                <div class="team-social">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                    <a href="#"><i class="fa fa-google-plus"></i></a>
                                </div>
                            </div>
                        </div>
                    </div> <!-- end single team member -->
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="team-member mb-30 mb-sm-60 mb-xs-60">
                            <div class="team-thumb">
                                <img src="~/limupa/images/team/ben.jpg" alt="Takım Üyesi">
                            </div>
                            <div class="team-content text-center">
                                <h3>Bünyamin Pilsim</h3>
                                <p>Pazarlama Uzmanı</p>
                                <a href="#">info@example.com</a>
                                <div class="team-social">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                    <a href="#"><i class="fa fa-google-plus"></i></a>
                                </div>
                            </div>
                        </div>
                    </div> <!-- end single team member -->
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="team-member mb-60 mb-sm-30 mb-xs-30">
                    <div class="team-thumb">
                        <img src="~/limupa/images/team/taha.jpg" alt="Takım Üyesi">
                    </div>
                    <div class="team-content text-center">
                        <h3>Taha Çalık</h3>
                        <p>IT Uzmanı</p>
                        <a href="#">info@example.com</a>
                        <div class="team-social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                        </div>
                    </div>
                </div>
            </div> <!-- end single team member -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="team-member mb-60 mb-sm-30 mb-xs-30">
                    <div class="team-thumb">
                        <img src="~/limupa/images/team/sena.jpg" alt="Takım Üyesi">
                    </div>
                    <div class="team-content text-center">
                        <h3>Hatice Sena Dere</h3>
                        <p>Web Tasarımcısı</p>
                        <a href="#">info@example.com</a>
                        <div class="team-social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                        </div>
                    </div>
                </div>
            </div> <!-- end single team member -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="team-member mb-30 mb-sm-60">
                    <div class="team-thumb">
                        <img src="~/limupa/images/team/doruk.jpg" alt="Takım Üyesi">
                    </div>
                    <div class="team-content text-center">
                        <h3>Doruk Kopdağ</h3>
                        <p>Web Geliştirici</p>
                        <a href="#">info@example.com</a>
                        <div class="team-social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                        </div>
                    </div>
                </div>
            </div> <!-- end single team member -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="team-member mb-30 mb-sm-60 mb-xs-60">
                    <div class="team-thumb">
                        <img src="~/limupa/images/team/goksel.jpg" alt="Takım Üyesi">
                    </div>
                    <div class="team-content text-center">
                        <h3>Göksel Karadağ</h3>
                        <p>Pazarlama Uzmanı</p>
                        <a href="#">info@example.com</a>
                        <div class="team-social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                        </div>
                    </div>
                </div>
            </div> <!-- end single team member -->
        </div>

    </div>
</div>
