<!-- About Text Start -->
<div class="col-lg-6 order-last order-lg-first">
    <div class="about-text-wrap">
        <h2><span>En İyi</span>Ürünleri Sizin İçin Sunuyoruz</h2>
        <p>Dünyanın her yerinde en iyi sakal yağını sağlıyoruz. Hindistan'da sakal yağı konusunda en iyi mağazayız. Ürünlerimizi tereddüt etmeden satın alabilirsiniz çünkü müşterilerimiz bize güvenir ve memnuniyetle alışveriş yaparlar.</p>
        <p>Bazı müşterilerimiz, bize güvendiklerini ve ürünlerimizi tereddüt etmeden satın aldıklarını, her zaman memnun olduklarını söylemektedir.</p>
        <p>Müşterilerimiz bize güvenir ve ürünlerimizi tereddüt etmeden satın alır, her zaman memnun kalırlar.</p>
    </div>
</div>
<!-- About Text End -->
<!-- About Image Start -->
<div class="col-lg-5 col-md-10">
    <div class="about-image-wrap">
        <img class="img-full" src="~/limupa/images/product/large-size/13.jpg" alt="Hakkımızda" />
    </div>
</div>
<!-- About Image End -->
